<h1>
  {{user.first_name}} {{user.last_name}} [id: {{user.id}}]
</h1>
<ul class="list-group">
  <li class="list-group-item"><string>Email: </string>{{user.email}}</li>
  <li class="list-group-item"><string>Phone: </string>{{user.phone}}</li>
</ul>
<a href="/" class="btn btn-default pull-left">Back</a>

<form action="/api/user/delete/{{user.id}}" method="POST">
  <input type="submit" class="btn btn-danger pull-right" value="Delete">
</form>